//- Your words here
- var word1 = ['H', 'o', 'm', 'e', ' ', 'P', 'a', 'g', 'e']
- var word2 = ['A', 'b', 'o', 'u', 't', ' ', 'U', 's']
- var word3 = ['P', 'r', 'o', 'd', 'u', 'c', 't', 's']
- var word4 = ['C', 'o', 'n', 't', 'a', 'c', 't', ' ', 'U', 's']

ul.menu
  li
    a.word.word1(href="#")
      each char in word1
        span= char
  li
    a.word.word2(href="#")
      each char in word2
        span= char
  li
    a.word.word3(href="#")
      each char in word3
        span= char
  li
    a.word.word4(href="#")
      each char in word4
        span= char